<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Users</title>
</head>
<body>
  <h1>User List</h1>
  <h2>Users in the database</h2>
  {% if user_records %}
  <table>
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email address</th>
    </thead>
    {% for user in user_records %}
    <tr>
      <td>{{ user.first_name }}</td>
      <td>{{ user.last_name }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>NO USERS IN DATABASE</p>
  {% endif %}
</body>
</html>